name: Build APK

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Unzip www.zip
        run: unzip zip.zip -d www

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Capacitor CLI
        run: npm install @capacitor/cli @capacitor/core

      - name: Add Android platform
        run: npx cap add android

      - name: Copy web app to Android
        run: npx cap copy android

      - name: Build APK
        working-directory: android
        run: ./gradlew assembleDebug

      - name: Upload APK artifact
        uses: actions/upload-artifact@v3
        with:
          name: QuizSaqqarah-APK
          path: android/app/build/outputs/apk/debug/**/*.apk
